a{ 
text-decoration: none;
color: white;
} 
body {
background: #140424;
color: #140424;
}
*{
margin:0;
padding:0;
}
#container {
background: #140424;
width: 100%;
height: 250%;
}
#header {
background: #140424;
width: 100%;
height: 8%;
}
#navigator {
background: #140424;
width: 100%;
height: 4%;
}
#content {
width: 100%;
height: 80%;
background:#140424	;
}
#back {
width: 100%;
}
#text {
margin: 2%;
padding: 2%
}
ul.navmenu li {
display: inline;
}
ul.navmenu li a {
font-family: 'Century Gothic';
background:#160B54;
color: #FFFFFF;
padding: 2% 9% 2% 9%;
}
ul.navmenu li a:hover {
padding: 2% 9% 2% 9%;
background: #364d95;
color: #261C64 
}
h1 {
font-family: 'Century Gothic';
}
